.firepad-dialog-div {
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 12pt 0.75pt #ccc;
  height: 288px;
  left: 0;
  max-width: 500px;
  position: absolute;
  right: 0;
  top: 178px;
  width: 100%;
  z-index: 10;
}
